@import "./../../style.scss";
#login-container {
  form {
    display: flex;
    flex-direction: column;
    input {
      padding: $padding-medium;
      border-radius: 8px;
      border: 1px solid #ccc;
    }
    button {
      margin-top: $padding-large;
      background: black;
      color: white;
    }
    #bottom-text {
      margin-top: $padding-large;
      span:last-child {
        text-decoration: underline;
      }
    }
  }
}
